body{
    font-family: 'Inter', sans-serif;
    font-family: 'Libre Baskerville', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    color: #777777;
}
.cphi h1{font-size: 4.5rem;}
.cphi p{font-size: 22px;}
.cphi{height: 58vh;}
.text_in{color: #289BDE;}
.text_in1{color: #289BDE;border: 1px solid #289BDE;}
.button_are{background-color: #fff;color: #289BDE;}
.wtd{background-color: #289BDE;}
.left{width: 50%;}
.social_icon i{padding: 7px;}
.text_co{color: #f8f6f6;}

@media (min-width: 320px) and (max-width: 767px) {
    .shrink_{flex-direction: column;border: none !important;border-radius: none !important;}
    .cphi {height: 17vh;}.text_in1{color: #289BDE;border:none; padding-left: 0px;}
    .cphi h1 {font-size: 1rem;}.phone_syl h1{font-size: 17px;font-weight: bold;}.phone_syl p{font-size: 12px;}
    .cphi p{ font-size: 8px;}
    .wtd {flex-direction: column;align-items: center; text-align: center;}.left{width: 100%;}
}
@media (min-width: 768px) and (max-width: 991.98px) { 
    .cphi {height:21vh;} #company{display: none;}
    .cphi h1 {font-size: 2rem;}.text_in1{color: #289BDE;border:none;padding-left: 0px;}
    .cphi p{font-size: 13px;}
    .wtd {flex-direction: column;align-items: center; text-align: center;}.left{width: 100%;}

 }


